<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="b">
		<%= image_tag("todo.jpg", :alt => "Logo", :width => 50, :height => 50) %>
		@TODO
		<button class="lo">
		  <% if current_user %>
		    <%= current_user.name %>
		    <%= link_to "Log out", log_out_path %>
		  <% end %>
	  </button>
	</div>

	<% flash.each do |name, msg| %>
	  <%= content_tag :div, msg, :id => "flash_#{name}" %>
	<% end %>

<%= yield %>

</body>
</html>
