
<%= form_for(:member, :url=> project_members_path) do |f| %>
	
	<p>
    <%= f.label :name %><br />
    <%= f.text_field :name, :class => 'form-control' %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email, :class => 'form-control' %>
  </p>
  <p>
    <%= f.submit :submit%>
  </p>

<% end %>